// app global css in SCSS form

body {
  color: $dark;
}

h2 {
  margin-top: 0;
  font-weight: 400;
  font-size: xxx-large
}

h3 {
  margin: 0;
  font-weight: 400;
  font-size: xx-large
}

.q-page-container {
  background-color: #EDF1F1
}

.link, .link:visited {
  color: $secondary
}