// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// COLORS

$primary   : #1B998B;
$secondary : #135490;
$accent    : #EE964B;

$dark      : #383942;
//$dark-page : #121212;
$light     : #A7A8B4;

//$positive  : #21BA45;
$negative  : #F95738;
//$info      : #31CCEC;
$warning   : #F4D35E;

$primaryLight : #1b998b30;

// MEDIA QUERIES
$mq_xs : '599.99px';
$mq_sm : '1023.99px';
$mq_md : '1439.99px';
$mq_lg : '1919.99px';